spring:
    profiles:
        active: dev
    mvc:
        throw-exception-if-no-handler-found: true
    resources:
      add-mappings: false
    freemarker:
      checkTemplateLocation: false
      mybatis:
        typeAliasesPackage: com.suke.RentalSystem.model
        mapperLocations: classpath:dao/*.xml