<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suke.RentalSystem.mapper.UserMapper">
    <select id="searchUser" resultMap="com.suke.RentalSystem.entity.User">
        SELECT * FROM tbl_user WHERE login_name=#{name} AND password=#{password}
    </select>
    
    <select id="ListUser" resultMap="com.suke.RentalSystem.entity.User">
        SELECT * from tbl_user
    </select>

    <select id="insertUser" resultMap="com.suke.RentalSystem.entity.User">
        insert into tbl_user(login_name,name,password,mobile,email,password) values (#{loginName},#{name},#{password}
        ,#{mobile},#{email},#{password})
    </select>

    <select id="deleteUser" resultMap="com.suke.RentalSystem.entity.User">
        delete * from tbl_user where login_name = #{loginName}
    </select>
    
    <select id="updateUser" resultMap="com.suke.RentalSystem.entity.User">
        update tbl_user set name=#{name} where login_name = #{loginName}
    </select>
</mapper>